API_URL=https://dev.interswitch.io
BILLERS_API_URL=https://iswapigateway-develop.azurewebsites.net/
OWNER_PHONE_NUMBER=0777245670
CLIENT_ID=IKIA8D9E122B351020B6DEF82BE2dda16271B9BD7069
CLIENT_SECRET_KEY=25vyl4viNWJV9Q4e68hx434d82PVPaQgdSjCCmg7T8=
TERMINAL_ID=3ISO4453
APP_VERSION=1
serialId=12345
PASSPHRASE=password
PORT=3006
